*{
    margin: 0px;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.5;
    text-align: center;
}
/* .container{
    width: 55%;
    margin: 0 auto;
    display: block;
} */
.name{
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
}
.profil{
    padding: 65px;
    background-color: lightgrey;
}
.pp{
    height: 350px;
    border-radius: 50%;
}
.about{
    width: 55%;
    margin: 0 auto;
    border-bottom: 1px;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
hr {
    margin: 65px;
   
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.work{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-left: 5cm;
    padding-top: 1cm;
    padding-right: 5cm;
}

.w1 {
    width: 20%;
    border: 1px solid #ddd;
}
   
.g1{
    width: 100%;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.footer{
    padding: 30px;
}
h3{
    padding: 12px;
}
.footer a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
} 
footer{
    padding: 30px;
   
}
footer a{
    padding: 12px;
}